################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BethelChurchAPI/BethelChurchAPI/bin/Debug
/BethelChurchAPI/BethelChurchAPI/obj
